.example-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.divButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.divImage {
    text-align: center;
}

.divImage img {
    width: 50%;
    height: 50%;
}

.invalido {
    color: red;
}

.acciones {
    margin: 5px;
}