<h1>Búsqueda de Consulta</h1>
<mat-divider></mat-divider>
<br>
<form [formGroup]="form" (ngSubmit)="buscar()" autocomplete="off">

    <mat-tab-group>
        <mat-tab label="Criterio 1">
            <mat-form-field>
                <input matInput type="number" placeholder="DNI" formControlName="dni">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="text" placeholder="Nombre completo" formControlName="nombreCompleto">
            </mat-form-field>
        </mat-tab>
        <mat-tab label="Criterio 2">
            <mat-form-field>
                <input matInput type="text" [matDatepicker]="picker" [max]="maxFecha" placeholder="Escoge una fecha" formControlName="fechaConsulta">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </mat-tab>
    </mat-tab-group>

    <button mat-raised-button class="botones" type="submit" color="primary">Buscar</button>
    <button mat-raised-button class="botones" type="button" color="primary" [disabled]="!dataSource || dataSource.data.length == 0" (click)="limpiar()">Limpiar</button>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
    
            <ng-container matColumnDef="paciente">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Paciente</th>
                <td mat-cell *matCellDef="let element"> {{element.paciente.nombres | titlecase}} {{element.paciente.apellidos | titlecase}}</td>
            </ng-container>
    
            <ng-container matColumnDef="medico">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Medico</th>
                <td mat-cell *matCellDef="let element"> {{element.medico.nombres | titlecase}} </td>
            </ng-container>
    
            <ng-container matColumnDef="especialidad">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Especialidad</th>
                <td mat-cell *matCellDef="let element"> {{element.especialidad.nombre | titlecase}} </td>
            </ng-container>
    
            <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
                <td mat-cell *matCellDef="let element"> {{element.fecha | date:'dd-MM-yyyy hh:mm:ss a'}} </td>
            </ng-container>
    
            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="primary"
                            matTooltip="Ver más detalles" 
                            matTooltipPosition="above"
                            (click)="verDetalle(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        </table>
    
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>

</form>