<h1>Registrar Consulta Especial</h1>
<mat-divider></mat-divider>
<br>
<form class="example-container" [formGroup]="form" #consultaForm="ngForm" (ngSubmit)="aceptar()">
    <mat-form-field class="example-full-width">
        <mat-label>Paciente</mat-label>
        <input type="text"
               placeholder="Ingrese un paciente"
               matInput
               [formControl]="myControlPaciente"
               formControlName="paciente"
               [matAutocomplete]="autoPaciente">
        <mat-autocomplete #autoPaciente="matAutocomplete" [displayWith]="mostrarPaciente">
          <mat-option *ngFor="let paciente of pacientesFiltrados$ | async" [value]="paciente">
            {{ paciente.nombres }} {{ paciente.apellidos }}
          </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Médico</mat-label>
        <input type="text"
               placeholder="Ingrese un médico"
               matInput
               [formControl]="myControlMedico"
               formControlName="medico"
               [matAutocomplete]="autoMedico">
        <mat-autocomplete #autoMedico="matAutocomplete" [displayWith]="mostrarMedico">
          <mat-option *ngFor="let medico of medicosFiltrados$ | async" [value]="medico">
            {{ medico.nombres }} {{ medico.apellidos }}
          </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Click</button>
</form>
